.problem{
  margin-left:50px;
  margin-right:50px;
  background:#86e2b0;
  margin-bottom:0;
  padding:20px
}

.whitebox{
  margin-left:50px;
  margin-right:50px;
  background:#FFFFFF;
  margin-bottom:0;
  padding:20px
}

p {
    text-wrap: pretty;  
}
